//- This is the main layout typically this is not specified in your pages,
//- but inherited by other layouts such as page.jade and post.jade.
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Bucharest Gold R&P')

    block title
      title Bucharest Gold

    block styles
      link(rel='stylesheet' media='screen' href='/lib/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet' media='screen' href='/css/scrolling-nav.css')
      link(rel='stylesheet' media='screen' href='/css/site.css')

  body(id='page-top' data-spy='scroll' data-target='.navbar-fixed-top')
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button(type='button' class='navbar-toggle collapsed' data-toggle="collapse" data-target="#navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top') Bucharest Gold
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.hidden
              a.page-scroll(href='#page-top')
            li
              a.page-scroll(href='#projects') Projects
            li
              a.page-scroll(href='#people') People

    section#intro.intro-section
      .container
        .row-fluid
          h1 Bucharest Gold
          p Here is some stuff about our group and what we are doing

    block main
      != contents

    block footer
      .container
        .footer
          .col-sm-6
            p(class='text-center')
               &copy; Copyright 2016 <a href="http://redhat.com">Red Hat, Inc.</a> | Bucharest Gold is Open Source Software

    block scripts
      if devMode
        script(src="http://localhost:35729/livereload.js")

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='/lib/bootstrap/js/bootstrap.min.js')
      script(src='js/jquery.easing.min.js')
      script(src='js/scrolling-nav.js')