---
title: Bucharest Gold
lastUpdate: 2016-08-02
layout: layout.jade
---

.container.projects-section#projects
  .row-fluid
    h2 Bucharest Gold Projects
    p.
      Here is some stuff about our group and what we are doing

.container.people-section#people
  .row-fluid
    h2 Bucharest Gold People
    p.
      Here is some stuff about our group and what we are doing

.container.resources-section#resources
  .row-fluid
    h2 Bucharest Gold Resources
    p.
      Here is some stuff about our group and what we are doing

